In [1]:
import pandas as pd
import numpy as np
import sys
import os
sys.path.append(os.path.abspath(".."))
df = pd.read_csv('../../Datas/iM_data.csv', encoding='cp949')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 347299 entries, 0 to 347298
Data columns (total 45 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   기준년월         347299 non-null  int64
 1   업종_대분류       347299 non-null  object
 2   업종_중분류       347299 non-null  object
 3   사업장_시도       330306 non-null  object
 4   사업장_시군구      330091 non-null  object
 5   법인_고객등급      347299 non-null  object
 6   전담고객여부       347299 non-null  object
 7   요구불예금잔액      347299 non-null  float64
 8   거치식예금잔액      347299 non-null  float64
 9   적립식예금잔액      347299 non-null  float64
 10  수익증권잔액       347299 non-null  float64
 11  신탁잔액         347299 non-null  float64
 12  퇴직연금잔액       347299 non-null  float64
 13  여신한도금액       347299 non-null  float64
 14  여신_운전자금대출잔액  347299 non-null  float64
 15  여신_시설자금대출잔액  347299 non-null  float64
 16  외환_수출실적금액    347299 non-null  float64
 17  외환_수입실적금액    347299 non-null  float64
 18  신용카드사용금액     347299 non-null  float64
 19  체크카드사용금액     347299 non-null  float64
 20  창구거래금액       347299 non-null  float64
 21  인터넷뱅킹거래금액    347299 non-null  float64
 22  스마트뱅킹거래금액    347299 non-null  float64
 23  폰뱅킹거래금액      347299 non-null  float64
 24  ATM거래금액      347299 non-null  float64
 25  자동이체금액       347299 non-null  float64
 26  요구불입금금액      347299 non-null  float64
 27  요구불출금금액      347299 non-null  float64
 28  요구불예금좌수      347299 non-null  object
 29  거치식예금좌수      347299 non-null  object
 30  적립식예금좌수      347299 non-null  object
 31  수익증권좌수       347299 non-null  object
 32  신탁좌수         347299 non-null  object
 33  퇴직연금좌수       347299 non-null  object
 34  여신_운전자금대출좌수  347299 non-null  object
 35  여신_시설자금대출좌수  347299 non-null  object
 36  신용카드개수       347299 non-null  object
 37  외환_수출실적거래건수  347299 non-null  object
 38  외환_수입실적거래건수  347299 non-null  object
 39  창구거래건수       347299 non-null  object
 40  인터넷뱅킹거래건수    347299 non-null  object
 41  스마트뱅킹거래건수    347299 non-null  object
 42  폰뱅킹거래건수      347299 non-null  object
 43  ATM거래건수      347299 non-null  object
 44  자동이체거래건수     347299 non-null  object
dtypes: float64(21), int64(1), object(23)
memory usage: 119.2+ MB

In [11]:
# object 타입 컬럼명을 리스트로 반환
object_columns = df.select_dtypes(include='object').columns.tolist()
df_object = df[object_columns].drop(columns=['업종_대분류',
 '업종_중분류',
 '사업장_시도',
 '사업장_시군구',
 '법인_고객등급',
 '전담고객여부'])

In [12]:
df_object

,요구불예금좌수,거치식예금좌수,적립식예금좌수,수익증권좌수,신탁좌수,퇴직연금좌수,여신_운전자금대출좌수,여신_시설자금대출좌수,신용카드개수,외환_수출실적거래건수,외환_수입실적거래건수,창구거래건수,인터넷뱅킹거래건수,스마트뱅킹거래건수,폰뱅킹거래건수,ATM거래건수,자동이체거래건수
0,5개초과 10개이하,0개,0개,0개,0개,0개,1개,0개,10개초과 20개이하,0건,0건,0건,0건,2건초과 5건이하,0건,0건,10건초과 20건이하
1,2개,0개,0개,0개,0개,0개,1개,0개,0개,0건,0건,0건,0건,0건,0건,0건,0건
2,10개초과 20개이하,0개,0개,0개,0개,0개,1개,0개,5개초과 10개이하,0건,0건,0건,50건 초과,0건,0건,0건,20건초과 30건이하
3,1개,0개,0개,0개,0개,0개,1개,0개,0개,0건,0건,2건초과 5건이하,20건초과 30건이하,0건,0건,0건,5건초과 10건이하
4,5개초과 10개이하,0개,0개,0개,1개,1개,1개,0개,5개초과 10개이하,0건,0건,1건,10건초과 20건이하,0건,0건,0건,20건초과 30건이하
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
347294,1개,0개,0개,0개,0개,0개,1개,0개,0개,0건,0건,0건,1건,0건,0건,2건,0건
347295,2개,0개,0개,0개,0개,0개,1개,0개,0개,0건,0건,2건초과 5건이하,0건,0건,0건,2건,1건
347296,2개,0개,0개,0개,0개,0개,50개 초과,0개,2개,0건,0건,0건,40건초과 50건이하,0건,0건,0건,30건초과 40건이하
347297,1개,0개,0개,0개,0개,0개,0개,2개초과 5개이하,0개,0건,0건,2건,2건초과 5건이하,0건,0건,0건,0건
347298,1개,0개,0개,0개,0개,0개,1개,0개,0개,0건,0건,2건,1건,0건,0건,0건,0건

In [13]:
for i in df_object.columns:
    print(f'{i} : {np.unique(df_object[i])}')

요구불예금좌수 : ['0개' '10개초과 20개이하' '1개' '20개초과 30개이하' '2개' '2개초과 5개이하' '30개초과 40개이하'
 '40개초과 50개이하' '50개 초과' '5개초과 10개이하']
거치식예금좌수 : ['0개' '10개초과 20개이하' '1개' '20개초과 30개이하' '2개' '2개초과 5개이하' '30개초과 40개이하'
 '40개초과 50개이하' '50개 초과' '5개초과 10개이하']
적립식예금좌수 : ['0개' '10개초과 20개이하' '1개' '20개초과 30개이하' '2개' '2개초과 5개이하' '30개초과 40개이하'
 '5개초과 10개이하']
수익증권좌수 : ['0개' '10개초과 20개이하' '1개' '2개' '2개초과 5개이하' '5개초과 10개이하']
신탁좌수 : ['0개' '10개초과 20개이하' '1개' '20개초과 30개이하' '2개' '2개초과 5개이하' '30개초과 40개이하'
 '40개초과 50개이하' '5개초과 10개이하']
퇴직연금좌수 : ['0개' '1개' '2개' '2개초과 5개이하']
여신_운전자금대출좌수 : ['0개' '10개초과 20개이하' '1개' '20개초과 30개이하' '2개' '2개초과 5개이하' '30개초과 40개이하'
 '40개초과 50개이하' '50개 초과' '5개초과 10개이하']
여신_시설자금대출좌수 : ['0개' '10개초과 20개이하' '1개' '20개초과 30개이하' '2개' '2개초과 5개이하' '5개초과 10개이하']
신용카드개수 : ['0개' '10개초과 20개이하' '1개' '20개초과 30개이하' '2개' '2개초과 5개이하' '30개초과 40개이하'
 '40개초과 50개이하' '50개 초과' '5개초과 10개이하']
외환_수출실적거래건수 : ['0건' '10건초과 20건이하' '1건' '20건초과 30건이하' '2건' '2건초과 5건이하' '30건초과 40건이하'
 '40건초과 50건이하' '50건 초과' '5건초과 10건이하']
외환_수입실적거래건수 : ['0건' '10건초과 20건이하' '1건' '20건초과 30건이하' '2건' '2건초과 5건이하' '30건초과 40건이하'
 '40건초과 50건이하' '50건 초과' '5건초과 10건이하']
창구거래건수 : ['0건' '10건초과 20건이하' '1건' '20건초과 30건이하' '2건' '2건초과 5건이하' '30건초과 40건이하'
 '40건초과 50건이하' '50건 초과' '5건초과 10건이하']
인터넷뱅킹거래건수 : ['0건' '10건초과 20건이하' '1건' '20건초과 30건이하' '2건' '2건초과 5건이하' '30건초과 40건이하'
 '40건초과 50건이하' '50건 초과' '5건초과 10건이하']
스마트뱅킹거래건수 : ['0건' '10건초과 20건이하' '1건' '20건초과 30건이하' '2건' '2건초과 5건이하' '30건초과 40건이하'
 '40건초과 50건이하' '50건 초과' '5건초과 10건이하']
폰뱅킹거래건수 : ['0건' '10건초과 20건이하' '1건' '20건초과 30건이하' '2건' '2건초과 5건이하' '30건초과 40건이하'
 '40건초과 50건이하' '50건 초과' '5건초과 10건이하']
ATM거래건수 : ['0건' '10건초과 20건이하' '1건' '20건초과 30건이하' '2건' '2건초과 5건이하' '30건초과 40건이하'
 '40건초과 50건이하' '50건 초과' '5건초과 10건이하']
자동이체거래건수 : ['0건' '10건초과 20건이하' '1건' '20건초과 30건이하' '2건' '2건초과 5건이하' '30건초과 40건이하'
 '40건초과 50건이하' '50건 초과' '5건초과 10건이하']

In [16]:
df.iloc[:,1:7].columns

Index(['업종_대분류', '업종_중분류', '사업장_시도', '사업장_시군구', '법인_고객등급', '전담고객여부'], dtype='object')

In [18]:
for i in df.iloc[:, 1:7].columns:
    print(f'{i} : {df[i].unique()}')

업종_대분류 : ['건설업' '제조업' '수도, 하수 및 폐기물 처리, 원료 재생업' '금융 및 보험업' '보건업 및 사회복지 서비스업'
 '예술, 스포츠 및 여가관련 서비스업' '교육 서비스업' '부동산업' '운수 및 창고업' '도매 및 소매업' '정보통신업'
 '숙박 및 음식점업' '전문, 과학 및 기술 서비스업' '협회 및 단체, 수리 및 기타 개인 서비스업'
 '사업시설 관리, 사업 지원 및 임대 서비스업' '전기, 가스, 증기 및 공기조절 공급업' '농업, 임업 및 어업' '광업']
업종_중분류 : ['종합 건설업' '기타 기계 및 장비 제조업' '폐기물 수집, 운반, 처리 및 원료 재생업' '금융 및 보험 관련 서비스업'
 '전자부품, 컴퓨터, 영상, 음향 및 통신장비 제조업' '보건업' '스포츠 및 오락관련 서비스업' '고무 및 플라스틱제품 제조업'
 '교육 서비스업' '부동산업' '육상운송 및 파이프라인 운송업' '창고 및 운송관련 서비스업' '소매업; 자동차 제외'
 '도매 및 상품 중개업' '출판업' '음식점 및 주점업' '전기장비 제조업' '가구 제조업' '섬유제품 제조업; 의복제외'
 '식료품 제조업' '정보서비스업' '전문 서비스업' '펄프, 종이 및 종이제품 제조업' '자동차 및 부품 판매업'
 '의복, 의복 액세서리 및 모피제품 제조업' '숙박업' '개인 및 소비용품 수리업' '산업용 기계 및 장비 수리업'
 '기타 전문, 과학 및 기술 서비스업' '사업시설 관리 및 조경 서비스업' '인쇄 및 기록매체 복제업' '임대업; 부동산 제외'
 '협회 및 단체' '전기, 가스, 증기 및 공기조절 공급업' '화학물질 및 화학제품 제조업; 의약품 제외'
 '창작, 예술 및 여가관련 서비스업' '자동차 및 트레일러 제조업' '금속가공제품 제조업; 기계 및 가구 제외'
 '의료, 정밀, 광학기기 및 시계 제조업' '1차 금속 제조업' '의료용 물질 및 의약품 제조업' '비금속 광물제품 제조업'
 '기타 개인 서비스업' '전문직별 공사업' '사업지원 서비스업' '사회복지 서비스업' '컴퓨터 프로그래밍, 시스템 통합 및 관리업'
 '농업' '건축기술, 엔지니어링 및 기타 과학기술 서비스업' '목재 및 나무제품 제조업; 가구 제외' '금융업' '연구개발업'
 '음료 제조업' '기타 제품 제조업' '기타 운송장비 제조업' '가죽, 가방 및 신발 제조업' '비금속광물 광업; 연료용 제외'
 '수상 운송업' '영상ㆍ오디오 기록물 제작 및 배급업']
사업장_시도 : ['대구광역시' '대전광역시' '인천광역시' '부산광역시' '울산광역시' '경기도' '서울특별시' '경상북도' '경상남도'
 '충청남도' nan '세종특별자치시' '광주광역시']
사업장_시군구 : ['서구' '동구' '파주시' '안산시 단원구' '영도구' '용인시 기흥구' '중구' '화성시' '달성군' '마포구' '사하구'
 '봉화군' '송파구' '용산구' '서초구' '김포시' '상주시' '창원시 성산구' '영주시' '창원시 의창구' '용인시 처인구'
 '성주군' '강남구' '영덕군' '남구' '울주군' '포항시 북구' '천안시 서북구' '종로구' '기장군' '함안군' '해운대구'
 '시흥시' '강서구' '안성시' '달서구' '의성군' '유성구' '양산시' nan '성동구' '부산진구' '김해시' '김천시'
 '북구' '금천구' '창원시 진해구' '고령군' '울진군' '평택시' '창녕군' '영천시' '하남시' '포항시 남구' '경주시'
 '사상구' '안동시' '칠곡군' '구미시' '경산시' '문경시' '수성구' '남동구' '구로구' '성남시 분당구' '군위군'
 '영등포구' '청도군' '연수구' '이천시' '남양주시' '예천군' '용인시 수지구' '동래구' '연제구']
법인_고객등급 : ['일반' '우수' '최우수']
전담고객여부 : ['N' 'Y']

In [26]:
sys.path.append(os.path.abspath(".."))

In [2]:
import sys
import os

# FinalProject 경로를 sys.path에 추가
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '../../Codes/')))

In [7]:
from module.MyEncoder import MyRangeEncoder

n_e = MyRangeEncoder(mode='mean', nan_value=-1)

In [13]:
filtered_cols = ['업종_대분류', '업종_중분류', '사업장_시도', '사업장_시군구', '법인_고객등급', '전담고객여부','기준년월']

In [14]:
n_df = n_e.fit_transform(df, columns=df.drop(columns=filtered_cols))

In [15]:
n_df

,기준년월,업종_대분류,업종_중분류,사업장_시도,사업장_시군구,법인_고객등급,전담고객여부,요구불예금잔액,거치식예금잔액,적립식예금잔액,...,여신_시설자금대출좌수,신용카드개수,외환_수출실적거래건수,외환_수입실적거래건수,창구거래건수,인터넷뱅킹거래건수,스마트뱅킹거래건수,폰뱅킹거래건수,ATM거래건수,자동이체거래건수
0,202412,건설업,종합 건설업,대구광역시,서구,일반,N,-1,-1,-1,...,0.0,15.5,0.0,0.0,0.0,0.0,4.0,0.0,0.0,15.5
1,202412,건설업,종합 건설업,대구광역시,서구,일반,N,-1,-1,-1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,202412,건설업,종합 건설업,대전광역시,서구,우수,N,-1,-1,-1,...,0.0,8.0,0.0,0.0,0.0,55.0,0.0,0.0,0.0,25.5
3,202412,건설업,종합 건설업,대구광역시,서구,우수,Y,-1,-1,-1,...,0.0,0.0,0.0,0.0,4.0,25.5,0.0,0.0,0.0,8.0
4,202412,건설업,종합 건설업,대구광역시,서구,우수,Y,-1,-1,-1,...,0.0,8.0,0.0,0.0,1.0,15.5,0.0,0.0,0.0,25.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
347294,202203,제조업,금속가공제품 제조업; 기계 및 가구 제외,대구광역시,북구,일반,N,-1,-1,-1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0,0.0
347295,202203,정보통신업,"컴퓨터 프로그래밍, 시스템 통합 및 관리업",대구광역시,중구,일반,N,-1,-1,-1,...,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,2.0,1.0
347296,202203,도매 및 소매업,소매업; 자동차 제외,경상남도,양산시,일반,Y,-1,-1,-1,...,0.0,2.0,0.0,0.0,0.0,45.5,0.0,0.0,0.0,35.5
347297,202203,부동산업,부동산업,경상북도,경주시,일반,Y,-1,-1,-1,...,4.0,0.0,0.0,0.0,2.0,4.0,0.0,0.0,0.0,0.0
347298,202203,제조업,금속가공제품 제조업; 기계 및 가구 제외,경상남도,창녕군,일반,N,-1,-1,-1,...,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0