In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import sys
plt.rcParams['font.family'] = 'AppleGothic'
sys.path.append(os.path.abspath("../../"))
df = pd.read_csv('../../../117.금융 합성데이터/3.개방데이터/1.데이터/1. 합성데이터/10.기업 CB정보/202108_기업CB.csv')

In [16]:
df

,BS_DT,ID,SIC_CD_3,WG_GB,FNDT_DT,EMPE_CNT,CT_CNTY_GU_CD,LISTD_DT,LISTD_ABOL_DT,FN1_1,...,D2B000001,D2B000005,D2B000012,D2B000012_1,D2B000012_2,D2B000012_3,D2B000002,D2B000003,CORP_GRAD,PERF_12M
0,20210801,125539,D35,1,19610624,23534,11680.0,19890205.0,NaN,18824052701,...,0,0,0,0,0,0,999999999,999999999,4,0
1,20210801,13475,D35,1,19610816,23904,11680.0,19890727.0,NaN,18567715519,...,0,0,0,0,0,0,999999999,999999999,4,0
2,20210801,149275,C30,1,19660923,72689,11650.0,19731123.0,NaN,47263779547,...,0,0,0,0,0,0,999999999,999999999,2,0
3,20210801,21529,D35,1,20010730,12716,47130.0,NaN,NaN,14976938599,...,0,0,0,0,0,0,999999999,999999999,4,0
4,20210801,9787,C24,1,19670919,220,NaN,19880628.0,NaN,49980255825,...,0,0,0,0,0,0,999999999,999999999,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149995,20210801,11134,G46,2,20181204,1,41135.0,NaN,NaN,-46175,...,0,0,0,0,0,0,999999999,999999999,7,0
149996,20210801,114892,N75,2,20200219,9,46130.0,NaN,NaN,2681,...,0,0,0,0,0,0,999999999,999999999,4,0
149997,20210801,77018,L68,1,20020922,2,NaN,NaN,NaN,46854296,...,0,0,0,0,0,0,2446,1090,6,0
149998,20210801,27640,L68,1,20170206,2,11215.0,NaN,NaN,36067348,...,0,0,0,0,0,0,999999999,999999999,7,0
149999,20210801,4219,M70,1,19170220,16,48123.0,19770712.0,NaN,31897909,...,0,0,0,0,0,0,1600,1177,7,0

In [17]:
col_info = pd.read_excel(
    '../../../117.금융 합성데이터/3.개방데이터/1.데이터/1. 합성데이터/093-117_금융 합성데이터_데이터구성상세.xlsx',
    sheet_name='10.기업CB 정보',
    header=None,       # 첫 줄을 컬럼명으로 사용하지 않음
    dtype=str          # 타입 강제 → NaN 방지
)

In [18]:
col_info

,0,1,2,3,4,5,6
0,No,필드한글명,필드영문명,설명,코드여부,유효값,타입
1,1,기준년월,BS_DT,기준년월,N,NaN,Char
2,2,가명식별자,ID,가명 식별자,N,NaN,Char
3,3,업종(중분류),SIC_CD_3,업종(중분류),Y,별첨1 참고,Char
4,4,외감구분,WG_GB,외감구분,Y,1 : 외감 \n2 : 비외감,Char
...,...,...,...,...,...,...,...
156,156,"공공정보(국세,지방세,관세체납,고용산재체납)건수(CIS)(5년내발생)",D2B000012_3,기준년월 시점 공공정보 (한국신용정보원) 5년내 발생건수,N,NaN,Int
157,157,"신용도판단정보공공정보최근발생일자로부터경과일수(CIS)(해제,삭제)",D2B000002,기준년월 시점 신용도판단정보 및 공공정보 (한국신용정보원) 최근 발생일자로 부터 경...,N,NaN,Int
158,158,"신용도판단정보공공정보최근해제일자로부터경과일수(CIS)(해제,삭제)",D2B000003,기준년월 시점 신용도판단정보 및 공공정보 (한국신용정보원) 최근 해제일자로 부터 경과일수,N,NaN,Int
159,159,기업신용평가등급(구간화),CORP_GRAD,10구간으로 구분(1~10. 1등급일수록 우량),Y,0 : 등급이 부여되지 않은 기업을 의미(special value)\n1 : 신용도...,Char
160,160,모형개발용Performance(향후1년내부도여부),PERF_12M,"기준일로부터 향후 1년내 부도, 기업회생, 90일이상 금융연체, 대지급 등 발생여부...",Y,0 : 부\n1 : 여,Char

In [19]:
col_info.iloc[:,2], col_info.iloc[:,1]

(0            필드영문명
 1            BS_DT
 2               ID
 3         SIC_CD_3
 4            WG_GB
           ...
 156    D2B000012_3
 157      D2B000002
 158      D2B000003
 159      CORP_GRAD
 160       PERF_12M
 Name: 2, Length: 161, dtype: object,
 0                                       필드한글명
 1                                        기준년월
 2                                       가명식별자
 3                                     업종(중분류)
 4                                        외감구분
                         ...
 156    공공정보(국세,지방세,관세체납,고용산재체납)건수(CIS)(5년내발생)
 157      신용도판단정보공공정보최근발생일자로부터경과일수(CIS)(해제,삭제)
 158      신용도판단정보공공정보최근해제일자로부터경과일수(CIS)(해제,삭제)
 159                             기업신용평가등급(구간화)
 160               모형개발용Performance(향후1년내부도여부)
 Name: 1, Length: 161, dtype: object)

In [21]:
# 병합 셀 복원 (필수)
col_info_filled = col_info.fillna(method='ffill')

# 영문 필드명과 설명 컬럼 추출
field_name_col = col_info_filled.iloc[:, 2]
description_col = col_info_filled.iloc[:, 1]

# 딕셔너리 생성: 영문명 → 설명
colinfo_description_map = dict(zip(field_name_col, description_col))

# df 컬럼명 변환
df.rename(columns=colinfo_description_map, inplace=True)

# 결과 확인
print(df.columns[:20])  # 앞 20개만 출력

Index(['기준년월', '가명 식별자', '업종(중분류)', '외감구분', '설립일자', '종업원수', '주소지시군구', '상장일자',
       '상장폐지일자', '유동자산', '비유동자산', '당좌자산', '재고자산', '유형자산', '재공품', '현금', '현금등가물',
       '상품유가증권', '현금성자산', '매출채권'],
      dtype='object')

/var/folders/kq/wzvd01qd1ql50sz17pwmt9b00000gn/T/ipykernel_67908/160352082.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  col_info_filled = col_info.fillna(method='ffill')

In [22]:
df

,기준년월,가명 식별자,업종(중분류),외감구분,설립일자,종업원수,주소지시군구,상장일자,상장폐지일자,유동자산,...,기준년월 시점 신용도판단정보 및 공공정보 (한국신용정보원) 발생건수(해제 제외),기준년월 시점 관련인을 제외한 신용도판단정보 및 공공정보 (한국신용정보원) 발생건수(해제 포함),기준년월 시점 공공정보 (한국신용정보원) 유지건수(해제 제외),기준년월 시점 공공정보 (한국신용정보원) 5년내 발생건수,기준년월 시점 공공정보 (한국신용정보원) 발생건수(해제 제외),기준년월 시점 공공정보 (한국신용정보원) 5년내 발생건수,기준년월 시점 신용도판단정보 및 공공정보 (한국신용정보원) 최근 발생일자로 부터 경과일수(해제 포함),기준년월 시점 신용도판단정보 및 공공정보 (한국신용정보원) 최근 해제일자로 부터 경과일수,10구간으로 구분(1~10. 1등급일수록 우량),"기준일로부터 향후 1년내 부도, 기업회생, 90일이상 금융연체, 대지급 등 발생여부(신용정보원 기준). 1: 향후1년내 부도발생, 0: 향후1년내 부도미발생"
0,20210801,125539,D35,1,19610624,23534,11680.0,19890205.0,NaN,18824052701,...,0,0,0,0,0,0,999999999,999999999,4,0
1,20210801,13475,D35,1,19610816,23904,11680.0,19890727.0,NaN,18567715519,...,0,0,0,0,0,0,999999999,999999999,4,0
2,20210801,149275,C30,1,19660923,72689,11650.0,19731123.0,NaN,47263779547,...,0,0,0,0,0,0,999999999,999999999,2,0
3,20210801,21529,D35,1,20010730,12716,47130.0,NaN,NaN,14976938599,...,0,0,0,0,0,0,999999999,999999999,4,0
4,20210801,9787,C24,1,19670919,220,NaN,19880628.0,NaN,49980255825,...,0,0,0,0,0,0,999999999,999999999,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149995,20210801,11134,G46,2,20181204,1,41135.0,NaN,NaN,-46175,...,0,0,0,0,0,0,999999999,999999999,7,0
149996,20210801,114892,N75,2,20200219,9,46130.0,NaN,NaN,2681,...,0,0,0,0,0,0,999999999,999999999,4,0
149997,20210801,77018,L68,1,20020922,2,NaN,NaN,NaN,46854296,...,0,0,0,0,0,0,2446,1090,6,0
149998,20210801,27640,L68,1,20170206,2,11215.0,NaN,NaN,36067348,...,0,0,0,0,0,0,999999999,999999999,7,0
149999,20210801,4219,M70,1,19170220,16,48123.0,19770712.0,NaN,31897909,...,0,0,0,0,0,0,1600,1177,7,0

In [23]:
df.to_csv('마스킹 없는거.csv', index=False)
df.to_excel('마스킹 없는거.xlsx', index=False)

In [24]:
df.columns.tolist()

['기준년월',
 '가명 식별자',
 '업종(중분류)',
 '외감구분',
 '설립일자',
 '종업원수',
 '주소지시군구',
 '상장일자',
 '상장폐지일자',
 '유동자산',
 '비유동자산',
 '당좌자산',
 '재고자산',
 '유형자산',
 '재공품',
 '현금',
 '현금등가물',
 '상품유가증권',
 '현금성자산',
 '매출채권',
 '매출채권(전기)',
 '매출채권처분손실(당기)',
 '무형자산',
 '투자자산',
 '자산총계',
 '자산총계(전기)',
 '유동부채',
 '단기차입금',
 '차입금',
 '매입채무',
 '비유동부채',
 '부채총계',
 '자기자본(납입자본금)',
 '자본잉여금',
 '납입자본',
 '이익잉여금',
 '자본조정',
 '기타포괄손익누계액',
 '유보금',
 '자본총계',
 '전기자본총계',
 '매출액',
 '전기매출액',
 '매출원가',
 '매출총이익',
 '판매비와관리비',
 '법인세비용차감전 순이익',
 '전기법인세차감전순이익',
 '법인세',
 '계속사업이익',
 '중단산업손익',
 '금융비용',
 '영업손익',
 '전기영업이익',
 '영업외수익',
 '영업외비용',
 '법인세차감전순이익',
 '당기순이익',
 '당기순이익(전기)',
 '현금흐름',
 '영업활동현금흐름',
 '투자활동현금흐름',
 '재무활동현금흐름',
 '부채상환계수',
 '영업이익이자보상배율',
 '이자비용',
 '사채이자(당기)',
 '이자보상배율',
 '적립금비율',
 'EBIT',
 'EBITDA',
 '청산가치율',
 '청산가치',
 '순운전자본',
 '순차입금',
 '총자산증가율',
 '부채비율',
 '자기자본비율',
 '유동비율',
 '차입금의존도',
 '매출액증가율',
 '영업이익율',
 '당기순이익율',
 '매출원가율',
 '판관비율',
 '자기자본이익률(ROE)',
 '매출채권회전율',
 '재고자산회전율',
 '매입채무회전율',
 '총자산회전율',
 '총자산순이익률',
 '유동자산증가율',
 '유형자산증가율',
 '단기차입금의존도',
 '당좌비율',
 '순차입금비율',
 '순운전자본회전율',
 '총자본회전율',
 '자기자본순이익율',
 '매출총이익율',
 'EBITDA마진율',
 '영업이익증가율',
 '당기순이익증가율',
 'EBITDA증가율',
 'OCF/매출액비용',
 '부채상환계수',
 '차입금/EBITDA',
 'EBITDA/금융비용',
 'EBITDA/금융비용',
 'EBITDA/금융비용',
 'EBITDA/금융비용',
 'EBITDA/금융비용',
 'EBITDA/금융비용',
 '기준년월 시점 대출연체 과목수',
 '기준년월 시점 3개월내 대출연체 유지 과목수(연체대출금 상환 포함)',
 '기준년월 시점 6개월내 대출연체 유지 과목수(연체대출금 상환 포함)',
 '기준년월 시점 1년내 대출연체 유지 과목수(연체대출금 상환 포함)',
 '기준년월 시점 3년내 대출연체 유지 과목수(연체대출금 상환 포함)',
 '기준년월 시점 3개월내 대출연체 신규발생 과목수(연체대출금 상환 포함)',
 '기준년월 시점 6개월내 대출연체 신규발생 과목수(연체대출금 상환 포함)',
 '기준년월 시점 1년내 대출연체 신규발생 과목수(연체대출금 상환 포함)',
 '기준년월 시점 3년내 대출연체 신규발생 과목수(연체대출금 상환 포함)',
 '기준년월 시점 3개월내 연체일수가 30일 이상 된 대출연체 유지 과목수(연체대출금 상환 포함)',
 '기준년월 시점 6개월내 연체일수가 30일 이상 된 대출연체 유지 과목수(연체대출금 상환 포함)',
 '기준년월 시점 1년내 연체일수가 30일 이상 된 대출연체 유지 과목수(연체대출금 상환 포함)',
 '기준년월 시점 3년내 연체일수가 30일 이상 된 대출연체 유지 과목수(연체대출금 상환 포함)',
 '기준년월 시점 연체일수가 30일 이상 된 대출연체 유지 과목수(연체대출금 상환 포함)',
 '기준년월 시점 연체일수가 30일 이상 된 대출연체 유지 과목수(연체대출금 상환 제외)',
 '기준년월 시점 연체일수가 30일 이상 된 이자 및 원금 대출연체 유지 과목수(연체대출금 상환 포함)',
 '기준년월 시점 연체일수가 30일 이상 된 이자 및 원금 대출연체 유지 과목수(연체대출금 상환 제외)',
 '기준년월 시점 연체일수가 30일 이상 대출연체 유지 기관수(연체대출금 상환 제외)\n: 기관=법인등록번호 기준 소속 사업자번호수',
 '기준년월 시점 연체일수가 30일 이상 대출연체 유지 기관수(연체대출금 상환 포함)',
 '기준년월 시점 연체일수가 30일 이상 대출연체 유지 기관수(연체대출금 상환 제외)',
 '기준년월 시점 연체일수가 30일 이상 대출연체 유지 기관수(연체대출금 상환 포함)',
 '기준년월 시점 연체일수가 30일 이상 대출연체 유지 기관수(연체대출금 상환 제외)',
 '기준년월 시점 3개월내 연체일수가 30일 이상 된 대출연체 유지 기관수(연체대출금 상환 포함)',
 '기준년월 시점 6개월내 연체일수가 30일 이상 된 대출연체 유지 기관수(연체대출금 상환 포함)',
 '기준년월 시점 1년내 연체일수가 30일 이상 된 대출연체 유지 기관수(연체대출금 상환 포함)',
 '기준년월 시점 3년내 연체일수가 30일 이상 된 대출연체 유지 기관수(연체대출금 상환 포함)',
 '기준년월 시점 3개월내 대출연체 최장 보유일수(연체대출금 상환 포함)',
 '기준년월 시점 6개월내 대출연체 최장 보유일수(연체대출금 상환 포함)',
 '기준년월 시점 1년내 대출연체 최장 보유일수(연체대출금 상환 포함)',
 '기준년월 시점 3년내 대출연체 최장 보유일수(연체대출금 상환 포함)',
 '기준년월 시점 5년내 대출연체 최장 보유일수(연체대출금 상환 포함)',
 '기준년월 시점 3개월내 대출연체 발생분 최장 보유일수(연체대출금 상환 포함)',
 '기준년월 시점 6개월내 대출연체 발생분 최장 보유일수(연체대출금 상환 포함)',
 '기준년월 시점 1년내 대출연체 발생분 최장 보유일수(연체대출금 상환 포함)',
 '기준년월 시점 3년내 대출연체 발생분 최장 보유일수(연체대출금 상환 포함)',
 '기준년월 시점 5년내 대출연체 발생분 최장 보유일수(연체대출금 상환 포함)',
 '기준년월 시점 신용도판단정보 및 공공정보 (한국신용정보원) 발생건수(해제 포함)',
 '기준년월 시점 신용도판단정보 및 공공정보 (한국신용정보원) 발생건수(해제 제외)',
 '기준년월 시점 관련인을 제외한 신용도판단정보 및 공공정보 (한국신용정보원) 발생건수(해제 포함)',
 '기준년월 시점 공공정보 (한국신용정보원) 유지건수(해제 제외)',
 '기준년월 시점 공공정보 (한국신용정보원) 5년내 발생건수',
 '기준년월 시점 공공정보 (한국신용정보원) 발생건수(해제 제외)',
 '기준년월 시점 공공정보 (한국신용정보원) 5년내 발생건수',
 '기준년월 시점 신용도판단정보 및 공공정보 (한국신용정보원) 최근 발생일자로 부터 경과일수(해제 포함)',
 '기준년월 시점 신용도판단정보 및 공공정보 (한국신용정보원) 최근 해제일자로 부터 경과일수',
 '10구간으로 구분(1~10. 1등급일수록 우량)',
 '기준일로부터 향후 1년내 부도, 기업회생, 90일이상 금융연체, 대지급 등 발생여부(신용정보원 기준). 1: 향후1년내 부도발생, 0: 향후1년내 부도미발생']